.intro__list {
    max-width: 54%;
    margin: 0;
    padding-top: 2.5%;
    padding-left: 11.5%;
    list-style: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    justify-content: flex-start;
}

@media screen and (max-width: 1024px) {
    .intro__list {
        max-width: 67.3%;
        padding-top: 3.2%;
        padding-left: 4.6%;
    }    
}

@media screen and (max-width: 768px) {
    .intro__list {
        max-width: 93.7%;
        padding-top: 4.2%;
        padding-left: 3.1%;
    }    
}

@media screen and (max-width: 320px) {
    .intro__list {
        max-width: 90%;
        padding-top: 10.6%;
        padding-left: 5%;
    }    
}