.cover__subtitle {
    position: relative;
    max-width: 28.1%;
    margin: 0 auto;
    padding-top: 2.7%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        max-width: 35.1%;
        padding-top: 3.1%;
    }    
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        max-width: 46.8%;
        padding-top: 4.1%;
    }    
}

@media screen and (max-width: 576px) {
    .cover__subtitle {
        max-width: 90%;
        padding-top: 5%;
        font-size: 14px;
        line-height: 16px;
    }    
}