.lead__title {
    margin: 0;
    padding: 4.3% 21.8% 0;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
}


@media screen and (max-width: 1024px) {
    .lead__title {
        padding: 4.6% 14.8% 0;
    }    
}

@media screen and (max-width: 768px) {
    .lead__title {
        padding: 6.2% 3.1% 0;
    }    
}

@media screen and (max-width: 576px) {
    .lead__title {
        padding: 10% 4% 0;
        font-size: 65px;
        line-height: 62px;
    }    
}

@media screen and (max-width: 320px) {
    .lead__title {
        padding: 15% 5% 0;
        font-size: 40px;
        line-height: 44px;
    }    
}


