.cover__title {
    position: relative;
    margin: 0 auto;
    max-width: 47.2%;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        max-width: 54.6%;
    }    
}

@media screen and (max-width: 768px) {
    .cover__title {
        max-width: 73%;
        font-size: calc((100vw - 320px)/(768 - 320) * (72 - 32) + 32px);
        line-height: calc((100vw - 320px)/(768 - 320) * (76 - 35) + 35px);
    }    
}

@media screen and (max-width: 576px) {
    .cover__title {
        max-width: 75%;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 75%;
        font-size: 32px;
        line-height: 35px;
    }
}