.place__url-heading {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 2px;
    color: #AAAAAA;
}

@media screen and (max-width: 1024px) {
    .placee__url-heading {
        font-size: 12px;
        line-height: 170%;
    }
}

@media screen and (max-width: 768px) {
    .placee__url-heading {
        font-size: 12px;
        line-height: 12px;
    }    
}

@media screen and (max-width: 576px) {
    .placee__url-heading {
        font-size: 12px;
        line-height: 12px;
    }
}