.place__item {
    margin: 0;
    padding: 0 11.5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 3.1vw 3.7vw;
}

@media screen and (max-width: 1024px) {
    .place__item {
        padding: 0 4.6%;
        gap: 3.1vw 4.6vw;
    }
}

@media screen and (max-width: 768px) {
    .place__item {
        padding: 0 3.1%;
        gap: 3.6vw 6.2vw;
    }    
}

@media screen and (max-width: 576px) {
    .place__item {
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, minmax(min-content, max-content));
        gap: 10vw;
    }
}